.index.yml
.ruby-lsp/
.expert/
.jj/
.swc/
.DS_Store/
.zig-cache/
zig-out/
.DS_Store
scratchpad.*
**/.claude/settings.local.json
.pi/agent/extensions/node_modules/
.pi/agent/extensions/package-lock.json
.config/opencode/node_modules/
scripts/ralph/**
.ralph-*
.opencode/**
__pycache__
.pi/todos/**
